
@import "normalize";
@import "variables";


body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
.clear{
    clear:both;
}
h1{
    
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}
.canvas-messages {
    position: fixed;
    width:360px;
    padding-left: 10px;
    padding: 0 0 15px 15px;
    background-color: #fff;
}

canvas {
    width: 100%;
    height: 768px;
    margin: 0 auto;
    display: block;
    background-color: #000;
    float: right;
}


